/* Header Página inicial */
.navbar{
    height: 100px;
    background-color: #1f2937;
    color: #fff;
}


#logo{
    padding-left: 30px;
    width: 170px;
}

h3 span{
    color: #5cb85c;
}

.login-cadastro{
   text-align: center;
}

.login-cadastro a{
    padding-left: 30px;
    transition: 0.5s;
    text-decoration: none;
    color: #fff;
}
.login-cadastro a:hover{
    transition: 0.5s;
    color: #5cb85c;
}


@media (max-width: 576px ){
    .navbar{
        height: 120px;
    }
    .logo{
        padding-left: 0px;
        text-align: center;
    }

    #logo{
        padding-left: 0px;
    }
    .login-cadastro a{
        margin: auto;
        padding-left: 0px;
        transition: 0.5s;
    }

    #inf-esquerda{
        padding-right: 20px;
    }
    #inf-direita{
        padding-left: 20px;
    }
}
/* Fim Header */

#logo-register,#logo-login{
    width: 200px;
}


#container-home{
    padding-top: 30px;
    color: #1f2937;
}

#div-h2{
    color: #fff;
    background: #1f2937;
    padding: 10px 0;
    margin-bottom: 10px;
    text-align: center;
}

.test{
    display: flex;
    text-align: center;
}
